* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  main {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 3fr 9fr;

    aside {
      padding: 30px;
      background-color: #bdbdbd;
      .jugador {
        background-color: white;
        border: 1px solid gainsboro;
        padding: 20px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;

        &:not(:first-of-type) {
          margin-top: 30px;
        }

        .distintivo {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 10px;
        }
      }
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      table,
      tr,
      td {
        border-collapse: collapse;
        border: 1px solid black;
      }

      td {
        width: 150px;
        height: 150px;

        &:hover {
          cursor: pointer;
          background-color: greenyellow;
        }

        &:active {
          background-color: rgb(117, 186, 13);
        }
      }
    }
  }
}

.alerta-jugador {
  color: white;
  pointer-events: none !important;
}
